<html>
    <head>
        <link rel="stylesheet" href="../assets/css/style.css">
        <link rel="stylesheet" href="../assets/css/urban.css">
        <!-- <link rel="stylesheet" href="assets/css/no-topbar.css"> -->
        <script src="../assets/js/webview.js"></script>
        
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline'; object-src 'self'";>
    </head>
    <body>
        

        <!-- Webview -->
        <webview id="webview" autosize="on" src="https://translate.google.com/" data-home="https://translate.google.com/"></webview>
        
        <div class="urban-container">
            <header class="urban-title">Urban dictionary</header>
            <div class="translated-div-input">
                <input spellcheck="false" type="text" class="urban-input" placeholder="slang">
                <button class="urban-button">translate</button>
            </div>
            <div class="translated-div"></div>
        </div>

    
        
        <script src="../assets/js/urban.js"></script>
        <script src="../assets/js/darkmode-js.min.js"></script>
        <script src="../assets/js/enable_darkmode.js"></script>
    </body>
</html>
